*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    font-size: 1.3rem;
}
li{
    list-style-type: none;
}
body{
    background-color: rgba(81, 19, 21, 0.092);
}
.header{
    display: flex;
    justify-content:space-between;
    background-color: rgba(3, 3, 3, 0.805);
    border-bottom: 3px solid rgb(21, 79, 136);
    
}
.header .hizalama{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.header .description{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}
.header .description img{
    height: 60px;
    margin-left: 1rem;
}
.header .description h1{
    color: rgb(203, 65, 65);
    letter-spacing: 2px;
    padding-right: 4px;
    text-shadow: 2px 2px 1px whitesmoke;
    box-shadow: 2px 2px 1px whitesmoke;
}
.header .description h1 span{
    color: rgb(31, 219, 166);
    font-size: 2rem;
}

.header .nav{
    height: 100%;
}
.header .nav ul{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}
.header .nav ul li{
    padding: 1rem;
    margin: 1rem;
}
.header .nav .home{
    color: rgb(31, 219, 166);
}
.header .nav .home:hover{
    border-bottom: 3px solid rgb(31, 219, 166);
}
.header .nav ul li a{
    color: blanchedalmond;
}
.header .nav ul li a:hover{
    color: rgb(31, 219, 166);
}
.intro{
    height: 100vh;
    background-image: url(./images/ahsap-deck-uygulama-22.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro .description{
    width: 100%;
    height: 100%;
    background-color: rgba(15, 15, 15, 0.194);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(245, 245, 245, 0.304);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro .description h1{
    background-color: rgba(39, 37, 37, 0.764);
    padding: 1rem;
    font-size: 3rem;
    color: rgb(237, 237, 237);
    margin-top: -2rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 3px 3px 3px rgba(245, 245, 245, 0.359);
}
.intro .description h2{
    background-color: rgba(32, 31, 31, 0.848);
    padding: 1rem;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: whitesmoke;
    letter-spacing: 2px;
    text-align: center;
    box-shadow: 3px 3px 3px rgba(245, 245, 245, 0.359);
}
.intro .description h2 span{
    color: rgb(31, 219, 166);
    font-size: 2.2rem;
    text-shadow: 2px 2px 2px whitesmoke;
}
.intro .description h2 .change_color{
    color: rgb(203, 65, 65);
}
.content{
    display: flex;
    flex-direction: column;
}
.content .content__top{
    background-color: rgba(3, 3, 3, 0.807);
    border-top: 4px solid rgb(26, 213, 160);
    border-bottom: 4px solid rgb(133, 21, 21);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .content__top .hizalama{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.content__top--title{
    margin: 1.5rem;
    font-size: 1rem;
    color: rgb(222, 212, 209);
    letter-spacing: 2px;
}

.content .content__top--form input{
    padding: 0.4rem;
    width: 200px;
    outline: none;
    border: none;
}
.content .content__top--form input:focus{
    border-bottom: 3px solid rgb(31, 219, 166);
}
.content .content__top--form .form__but{
    padding: 0.4rem 0.5rem;
    background-color:  rgb(171, 21, 33);
    border: none;
    color: rgb(233, 236, 235);
    font-weight: 600;
    font-size: 0.8rem;
    margin-right: 2rem;
}
.content__mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.content__mid--title{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.content__mid--title h1{
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(25, 15, 15);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 3px 3px rgb(36, 31, 31);
    padding: 1rem;
    border: 3px solid rgba(10, 10, 10, 0.49);
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.487);
    background-color: rgba(245, 245, 245, 0.774);
}
.content__mid--images{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}
.content__mid--images .image1{
    height: 500px;
    height: 400px;
    width: 30%;
    border: 3px solid rgb(10, 10, 10);
    box-shadow: 3px 3px 3px rgb(10, 10, 10, .532);
    border-radius: 5px;
    background-image: url(./images/teak-deck-3.jpeg);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin:  1rem 0.5rem;
}
.content__mid--images .image1:hover{
    transform: scale(1.4,1);
    width: 50%;
    transition: 0.7s;
    background-position: center;
}
.content__mid--images .image2{
    height: 400px;
    width: 30%;
    border: 3px solid rgb(10, 10, 10);
    box-shadow: 3px 3px 3px rgb(10, 10, 10, .532);
    border-radius: 5px;
    background-image: url(./images/2577e5_8381763ba3c549ddb0e91083302e442a~mv2.webp);
    
    background-size: cover;
    background-repeat: no-repeat;
    margin:  1rem 0.5rem;
}
.content__mid--images .image2:hover{
    transform: scale(1.4,1);
    width: 50%;
    background-position: center;
    transition: 0.7s;
}
.content__mid--images .image3{
    height: 400px;
    width: 30%;
    border: 3px solid rgb(10, 10, 10);
    box-shadow: 3px 3px 3px rgb(10, 10, 10, .532);
    border-radius: 5px;
    background-image: url(./images/192155873_528754381472397_2469147955617388627_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0.5rem;
}
.content__mid--images .image3:hover{
    transform: scale(1.4,1);
    width: 50%;
    background-position: center;
    transition: 0.7s;
}
.content__mid--images .image4{
    height: 400px;
    width: 30%;
    border: 3px solid rgb(10, 10, 10);
    box-shadow: 3px 3px 3px rgb(10, 10, 10, .532);
    border-radius: 5px;
    background-image: url(./images/331522065_1219838868926950_4830669333109634086_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0.5rem;
}
.content__mid--images .image4:hover{
    transform: scale(1.4,1);
    width: 50%;
    background-position: center;
    transition: 0.7s;
}
.content__mid--images .image5{
    height: 400px;
    width: 30%;
    border: 3px solid rgb(10, 10, 10);
    box-shadow: 3px 3px 3px rgb(10, 10, 10, .532);
    border-radius: 5px;
    background-image: url(./images/240234858_3064523000446623_8398467457772032026_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1rem 0.5rem;
}
.content__mid--images .image5:hover{
    transform: scale(1.4,1);
    width: 50%;
    background-position: center;
    transition: 0.7s;
}
.mid__description{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.203);
    display: flex;
    justify-content: center;
    align-items: center;
}
.mid__description h2{
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
    background-color: rgba(165, 42, 42, 0.532);
    padding: 1rem;
    color: white;
    text-shadow: 2px 2px 2px black;
    border: 1px solid black;
}

.content__bottom{
    display: grid;
    grid-template-columns: auto auto;
    margin: 2rem 2rem;
    justify-items: center;
    background-color: rgba(245, 245, 245, 0.774);
    border: 3px solid rgba(10, 10, 10, 0.49);
    box-shadow: 3px 3px 3px rgb(10, 10, 10, .532);
    padding: 1rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
.content__bottom .item1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.content__bottom .item2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.content__bottom .item2 .desc{
    margin-left: 2rem;
}
.content__bottom .desc h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.content__bottom .desc p{
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.footer{
    background-color: rgba(0, 0, 0, 0.799);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-top: 4px solid brown;
}
.footer ul {
    display: flex;
}
.footer ul li{
    font-size: 2rem;
    margin: 0.4rem;
    color: rgb(232, 234, 231);
    font-weight: 800;
}
.footer ul li:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.footer .hizalama{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer h2{
    color: white;
}
.footer p{
    color: white;
    font-size: 1.1rem;
    text-align: center;
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    letter-spacing: 2px;
}



.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}
#about-container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    gap: 0.5rem;
    padding: 4rem;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}
#about-container .about-item{
    height: 500px;
    border-radius: 0;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.367);
}
#about-container .about-item h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
#about-container .about-item h3{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(136, 95, 50);
}
#about-container .about-item p{
    font-size: 1.1rem;
    color: rgb(178, 144, 72);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}
#about-container .about-item ul li{
    list-style-type: disc;
}   
#about-container .about-item table{
    text-align: left;
    color: rgb(178, 144, 72);
}
#about-container #about-item4{
    background-image: url(./images/about2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#about-container #about-item5{
    background-image: url(./images/abut.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-bottom: 5rem;
}
.about-us .about-article{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: rgba(158, 23, 23, 0.738);
    border: 2px solid rgba(0, 0, 0, 0.29);
    box-shadow: 3px 3px 3px rgba(10, 10, 10, 0.612);
}
.about-us .about-article p{
    font-size: 1.3rem;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grid-container div{
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.303);
}
.grid-container div:hover{
    transform: scale(1.3);
    background-position: center;
    transition: 0.7s;
    background-position: center;
}
#grid-item1{
    background-image: url(./images/310844419_645500827011593_6108464214665504381_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    height: 97%;
}
#grid-item2{
    background-image: url(./images/teak-deck-3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item3{
    background-image: url(./images/240234858_3064523000446623_8398467457772032026_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
}
#grid-item4{
    background-image: url(./images/bahce-deck-uygulma-24.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item5{
    background-image: url(./images/192155873_528754381472397_2469147955617388627_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
#grid-item6{
    background-image: url(./images/197000081_3958453947595904_6773905707513341204_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item7{
    background-image: url(./images/havuz-kenari-dek-uygulama-11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item8{
    background-image: url(./images/ahsap-deck-uygulama-22.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
    height: 97%;
}
#grid-item9{
    background-image: url(./images/havuz-kenari-deck-kaplama-9.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item10{
    background-image: url(./images/gardenhavuzkenari_106.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item11{
    background-image: url(./images/2577e5_8381763ba3c549ddb0e91083302e442a~mv2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    grid-row: 5/ span 6;
    grid-column: 1 / span 2;
    height: 97%;
}
#grid-item12{
    background-image: url(./images/istockphoto-469109748-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item13{
    background-image: url(./images/istockphoto-912332782-612x612.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item14{
    background-image: url(./images/331837624_508822558109247_6934471556145331934_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#grid-item15{
    background-image: url(./images/166776916_219465949947245_5245665270659006628_n.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.grid-item{
    margin: 0.5rem;
}
.grid-item:hover{
    cursor: pointer;
}
.iletisim{
    height: 80.8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.iletisim__info h2{
    font-size: 2rem;
    color: white;
    padding: 1rem 4rem;
    background-color: rgba(165, 42, 42, 0.81);
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.423);
    text-shadow: 2px 2px 2px black;
}
.iletisim .iletisim__form form{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    padding: 6rem;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.814);
    
}
.iletisim .iletisim__form input{
    height: 45px;
    width: 300px;
    border-radius: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.314);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.352);
    font-size: 1.2rem;
    padding-left: 1rem;
}
.iletisim .iletisim__form select{
    height: 45px;
    width: 300px;
    outline: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    color: #000000c3;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.314);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.352);
}
.iletisim .iletisim__form textarea{
    height: 120px;
    padding-left: 1rem;
    padding-top: 0.5rem;
    grid-column: 1 /span 2;
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.314);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.352);
    border-radius: 5px;
    resize: none;
    font-size: 1.2rem;
}
.iletisim .iletisim__form button{
    height: 40px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    grid-column: 1/span 2;
    background-color: rgba(221, 178, 22, 0.478);
    border: none;
    color: rgb(254, 252, 252);
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 800;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.536);
}
.iletisim .iletisim__form button:hover{
    background-color: rgba(221, 178, 22, 0.843);
    cursor: pointer;
}